.App {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}

.metrics, .time {
 display: flex; 
 width: 50vw;
 flex-wrap: wrap;
 overflow-x: scroll;
}
.time {
  justify-content: center;
}


